body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    text-align: center;
}

.fruitImage {
    width: 300px;
    height: 200px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}

.header-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 16px;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:16px;
    gap: 24px;
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    gap: 16px;
    color: #F9FAF8;
}

.text {
    font-size: 18px;
}

.welcome {
    font-weight: bold;
    font-size: 24px;
    max-width: 300px;
    font-weight: bold;
}

.companyLogo {
    display: flex;
    gap: 16px;
    font-weight: bold;
}

.logo {
    width: 40px;
    height: 40px;
}

.container button {
    background-color: #3882f6;
    color: white;
    border: 4px solid #3882f6;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

li {
    list-style-type: none;
    margin:0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#F9FAF8;
}

.middle-section {
    padding: 24px;
    display: flex;
    justify-content: space-evenly; 
}

.middle-section p{
    max-width: 150px;
}

.images1,.images2,.images3,.images4{
    display: flex;
    flex-direction: column;
}

.middle-section img{
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.images {
    display: flex;
    width: 150px;
    height: 150px;
    gap: 16px;
    margin: 16px;
    justify-content: center;
}


.call-to-action{
    margin: 50px 200px;
    background-color: #3882F6;
    display: flex;
    align-items: center;
    padding: 10px 80px;
    border-radius: 5px;
    
}

.call-items{
    flex: 1;
}

.call-items.text{
    text-align: left;
    color:#F9FAF8;
    margin: 5px;
}

.text h3 {
    font-weight: bold;
}

.call-to-action button {
    background-color:#3882F6;
    text-align: center;
    border-radius: 4px;
    border-color:#F9FAF8;
    color:#F9FAF8;
    padding: 5px 25px;
    font-size: 15px;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    color: #F9FAF8;
}